.account {
  margin-top: 20px;
  .overview-field {
    display: block;
    margin-bottom: 16px;
    padding: 0 30px;
    label {
      font-weight: 700;
    }
  }
  .paper {
    padding: 30px 0;
    margin-top: 30px;
  }
}